<div ng-controller="gameController">
    <div class="container my-5">
        <div class="alert alert-primary text-center" role="alert">
            {{'welcome' | translate}}
        </div>

        <div class="row">
            <div class="col-8">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="row in board">
                            <td class="board-element p-3" ng-repeat="field in row" ng-click="choose(field)">
                                <div ng-class="{'dark': field.isGameField}" >
                                    <img ng-src="{{getFieldImage(field)}}" ng-mouseover="canChoose(field)" ng-mouseleave="removeCanBeMovedClass()" class="cell-image" ng-class="{'chosen': isChosen(field), 'canBeMoved': canBeMoved(field)}"></img>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4 pl-5">
                <p>Aby rozpocząć grę najedź myszką na wybrane pole z białym pionkiem.</p>
                <p>Jeśli danym pionkiem możesz się poruszyć zostanie on oznaczony zieloną obwódką.</p>
                <p>W celu wybrania pionka kliknij na niego myszką.</p>
                <p>Zostanie on wtedy oznaczony podwojną zieloną obwódką.</p>
                <p>Następnie kliknij na pole na które chcesz przemieścić pionka.</p>
                <p>Gra przeznaczona jest dla dwóch użytkowników grających na jednym komputerze.</p>
                <p>Ruchy wykonujemy na przemian.</p>
                <p>Zapewnione jest to jednak przez algorytm, który nie umożliwia wykonania dwóch ruchów pod rząd jednemu graczowi.</p>
                <p>W celu zrestartowania gry kliknij niebieski przycisk.</p>
                <button type="button" class="btn btn-primary mx-3" ng-click="restartGame()">{{'restart_game' | translate}}</button>
            </div>
        </div>
        <div class="alert alert-success alert-floating" role="alert" ng-show="gameState.won">
            {{'you_win' | translate}}
        </div>
        <div class="alert alert-danger alert-floating" role="alert" ng-show="gameState.lost">
            {{'you_lose' | translate}}
        </div>
    </div>

</div>